<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="dashboard">

    <!-- HEADER -->
    <div class="navbar">
        <h2>Bank App 💳</h2>
        <div class="nav-left-container">
            <p th:text="${customer.email}">aaa</p>
            <form action="/logout" method="post">
                <button class="nav-button" type="submit">Log out</button>
            </form>
        </div>

    </div>

    <!-- MAIN -->
    <div class="content">

        <h1>Welcome!</h1>

        <form action="/accounts/new" method="post" class="newAcc">
            <label for="accountType">Typ konta:</label>
            <select id="accountType" name="accountType">
                <option value="transactions">Transactions</option>
                <option value="saving">Saving</option>
            </select>

            <select name="branchId">
                <option value="1">KRK</option>
                <option value="2">PZN</option>
            </select>

            <button type="submit">Utwórz nowe konto</button>
        </form>



        <!-- ACCOUNTS -->
        <div class="accounts">

            <div class="account-card" th:each="account : ${customer.accounts}">
                <h3>Account</h3>

                <p><strong>Number:</strong>
                    <span th:text="${account.accountNumber}"></span>
                </p>

                <p><strong>Balance:</strong>
                    <span th:text="${account.balance}"></span> PLN
                </p>

                <form action="/dashboard" method="post">
                    <input type="hidden" name="accountId" th:value="${account.accountId}" />
                    <input type="hidden" name="email" th:value="${customer.email}" />

                    <button type="submit">Details</button>
                </form>
            </div>

        </div>

    </div>

</div>

</body>
</html>