<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
    <body>
        <div class="navbar">
            <h2>Bank App 💳</h2>
            <div class="nav-left-container">
                <p th:text="${email}">aaa</p>
                <form action="/logout" method="post">
                    <button class="nav-button" type="submit">Log out</button>
                </form>
            </div>
        </div>

        <div class="content" style="background-color: #eaeaea">
            <form>

            </form>
            <h1>Account Details</h1>
            <p><strong>Balance:</strong>
                <span th:text="${account.balance}"></span>
            </p>

            <p><strong>Created at:</strong>
                <span th:text="${account.createdAt}">

            </span>
            </p>

            <p><strong>Number:</strong>
                <span th:text="${account.accountNumber}"></span>
            </p>

            <p><strong>Type:</strong>
                <span th:text="${account.accountType}"></span>
            </p>

            <div class="details-container">
                <h1>Transactions</h1>
                <table class="details-table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="t : ${transactions}">
                        <td th:text="${#temporals.format(t.createdAt, 'yyyy-MM-dd HH:mm')}"></td>

                        <td th:text="${t.transactionType}"></td>

                        <td th:class="${t.fromAccount.accountId == account.accountId} ? 'transactions-out' : 'transactions-in'">
                            <span th:text="${t.fromAccount.accountId == account.accountId} ? '-' : '+'"></span>
                            <span th:text="${t.amount}"></span> PLN
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="details-container">
                <h1>Cards</h1>
                <div class="cards-container">
                    <table class="details-table">
                        <thead>
                        <tr>
                            <th>Numer</th>
                            <th>Type</th>
                            <th>Expiration date</th>
                            <th>CVV</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="c : ${cards}">
                            <td th:text="${c.cardNumber}"></td>
                            <td th:text="${c.cardType}"></td>
                            <td th:text="${#dates.format(c.expiryDate, 'MM/yy')}"></td>
                            <td th:text="${c.cvv}"></td>
                            <td th:text="${c.active ? 'Active' : 'Frozen'}"></td>
                            <td>
                                <form th:action="@{/modifyCardStatus/{id}/{state}(id=${c.cardId}, state=${!c.active})}" method="post">
                                    <input type="hidden" name="accountId" th:value="${account.accountId}">
                                    <button class="freeze-button" type="submit">Freeze</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </body>
</html>