<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
    <body>
        <div class="navbar">
            <h2>Bank App 💳</h2>
            <div class="nav-left-container">
                <p th:text="${email}">aaa</p>
                <form action="/logout" method="post">
                    <button class="nav-button" type="submit">Log out</button>
                </form>
            </div>
        </div>

        <div class="content" style="background-color: #eaeaea">
            <form>

            </form>
            <h1>Account Details</h1>
            <p><strong>Balance:</strong>
                <span th:text="${account.balance}"></span>
            </p>

            <p><strong>Created at:</strong>
                <span th:text="${account.createdAt}">

            </span>
            </p>

            <p><strong>Number:</strong>
                <span th:text="${account.accountNumber}"></span>
            </p>

            <p><strong>Type:</strong>
                <span th:text="${account.accountType}"></span>
            </p>
        </div>

    </body>
</html>